body {
  @apply font-bold;
}

html {
  font-size: 1.25rem;
}

/*shadow-on-scroll Start*/
// .shadow-on-scroll {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   -webkit-backface-visibility: hidden;
// }

// .shadow-on-scroll::before, .shadow-on-scroll::after {
//   content: "";
//   display: block;
//   height: 16px;
//   position: sticky;
// }

// .shadow-on-scroll::before {
//   top: 48px;
//   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
// }

// .shadow-on-scroll::after {
//   background: linear-gradient(180deg, rgba(0,0,0,0.027048319327731107) 0%, rgba(0,0,0,0) 30%);
//   top: 0;
//   z-index: 2;
// }

// .shadow-on-scroll .scroll-navigation {
//   height: 64px;
//   position: sticky;
//   top: 0px;
//   margin-top: -16px;
//   z-index: 3;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
  @apply font-bold text-3xl mb-6 text-left;
}

h2 {
  line-height: 1.1;
  @apply font-normal text-sm text-left;
}

.form-shape {
  transform: scale(.9);
}

@media screen and (max-width: 767px) {
  .form-shape {
    transform: scale(.7);
  }
}