.slider-container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    @apply overflow-hidden;
}

.slider {
    width: 800px;
    height: 500px;
    transition: all 0.32s ease;
    @apply overflow-hidden;
}

.slide {
    float: left;

    &--image {
        width: 400px;
    }
}

.navigate {
    @apply text-center inline-block overflow-hidden;
}

.navigate {
    margin: 0 auto;
    width: 70px;
    @apply flex;

    li {
        transition: all 0.32s ease;
        @apply py-2 px-3 cursor-pointer;

        &:hover {
            transform: translateY(-2px);
        }
    }
}
